@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Raleway:400,400italic,700,800");

.social-media-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.language-switcher {
	position: absolute;
	top: 10px;
	right: 10px;
  }
  
/* Style for language switcher button */
.lang-switcher {
	display: inline-block;
	background-color: #BEBEBE;
	color: #484848;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 20px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	margin-right: 10px;
  }
  
  /* Hover effect for language switcher button */
  .lang-switcher:hover {
	background-color: #333;
	color: #686868;
  }
  
  

.fa {
	font-size: 24px;
	margin: 0 10px;
}
.fab, .fas {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
  }

  input[type="submit"].special:hover {
	background-color: black;
	color: white;
	cursor: pointer;
  }
  
  input[type="submit"].special:active {
	transform: translateY(2px);
	box-shadow: none;
	
  }
  .special {
	font-size: 0.8em;
	padding: 6px 15px;
  }
  
  


.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: #1e1e1e; 
	background-color: rgba(30, 30, 30, 0.8); 
}

/* Modal Content */
.modal-content {
	background-color: #f2f2f2;
	margin: auto;
	padding: 20px;
	border: 1px solid #333;
	width: 80%;
}
.close-modal {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 100px;
	cursor: pointer;
	color: white;

  }

  

li h3 a:hover {
	color: #202020;
	text-decoration: underline;
}

/* Box Model */
*, *:before, *:after {
	box-sizing: border-box;
}

/* Containers */
.container {
	margin-left: auto;
	margin-right: auto;
	width: 35em;
}

	html {
		background-color: #BEBEBE		;
		background-attachment: fixed,						fixed;
		background-position: top left,					center center;
		background-repeat: repeat,						none;
		background-size: auto,						cover;
	}

	
	html.is-touch {
		height: 100vh;
		overflow: hidden;
	}

	
	body, input, select, textarea {
		color: #070707; ;
		font-family: "Raleway", "Helvetica", sans-serif;
		font-size: 15pt;
		font-weight: 400;
		line-height: 1.75em;
	}

	a {
		-moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		border-bottom: dotted 1px;
		color: rgba(7, 6, 6, 0.5);
		text-decoration: none;
	}

		a:hover {
			border-bottom-color: transparent !important;
			color: #070707 !important;
			text-decoration: none;
		}

	strong, b {
		color: #686868;
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #484848;
		font-weight: 800;
		letter-spacing: 0.075em;
		line-height: 1em;
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}

	h2 {
		font-size: 1.75em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 0.9em;
		line-height: 1.5em;
	}

	h5 {
		font-size: 0.8em;
		line-height: 1.5em;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-bottom: solid 1px #484848;
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	blockquote {
		border-left: solid 6px #484848;
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 1.5em;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75em;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}



/* Form */

	form {
		margin: 0 0 2em 0;
	}

	
	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: rgba(144, 144, 144, 0.15);
		border-radius: 0;
		border: none;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			box-shadow: inset 0 0 0 2px #eaf0ec;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

	

		.select-wrapper select::-ms-expand {
			display: none;
		}

	




/* Header */


	#header {
		height: 100vh;
		position: relative;
		text-align: center;
	}

		#header:after {
			content: '';
			display: inline-block;
			height: 100vh;
			vertical-align: middle;
		}

		#header header {
			color: #484848;
			display: inline-block;
			padding-bottom: 8em;
			vertical-align: middle;
		}


				#header header a:hover {
					color: #202020 !important;
				}

			#header header h1 {
				font-size: 3em;
				line-height: 1.25em;
				margin: 0;
			}

			#header header p {
				color: #070707;
				font-weight: 700;
				margin: 1.5em 0 0 0;
			}

/* Footer */

	#footer {
		min-height: 25vh;
		padding: 0 0 6em 0;
		position: relative;
		text-align: center;
	}

		#footer footer {
			bottom: 1em;
			color: rgba(213, 224, 213, 0.5);
			left: 0;
			position: absolute;
			text-align: center;
			width: 100%;
		}

	